
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(250, 251, 252);
    display: flex;
    justify-content: space-between;
}
.headerRightDiv{
    display: flex;
    justify-content: space-between;
}
.headerW3logo{
    width: 50px;
}
.headerNav{
    border: none;
    color: black;
    margin: 1%;
    padding: 1% 1%;
}
.headerNav:hover{
    background-color: rgb(3, 114, 77);
}



.webTemplatesSec{
    background-color: #f6f9f9;
    color: #f6f9f9;
}
.webTemplates{
    padding: 64px 24px 90px 24px;
    text-align: center;
    color: black;
}
.webTemplatesH1{
    font-size: 65px;
    font-weight: 700px;
}
.webTemplatesImg{
    width: 100%;
    margin: 16% 0 20% 0;
}
.webTemplatesButton{
    width: 50%;
    font-size: 20px;
    background-color: #2d2c2c;
    color: aliceblue;
    border-radius: 6px;
    border: none;
}
.webTemplatesButton:hover{
    background-color: black;
}
.KickstartSec{
    background-color: #282A35;;
}
.Kickstart{
    padding: 65px 24px 65px 24px;
    text-align: left;
    font-size: 45px;
    color: #e9cbcb;
}
.KickstartButton{
    width: 30%;
    font-size: 20px;
    background-color: rgb(8, 68, 8);
    color: aliceblue;
    border-radius: 9px;
}
.howToSecSec{
    background-color: aliceblue;
}
.howToSec{
    text-align: center;
    padding: 5% 0 5% 0;
    color: black;
}
.howToSecH2{
    font-weight: 700px;
    font-size: 60px;
}
.howToSecInpDiv{
    display: flex;
    text-align: left;
    justify-content: baseline;
    margin: 5% 20% 5% 20%;
    background-color: #e1e1ddd9;
}
.howToSecInpDivSp1{
    width: 65px;
    height: 95px;
    border-radius: 5px;
    background-color: #ED594A;
}
.howToSecImgDiv{
    background-color: beige;
    margin: 5% 20% 5% 20%;
}
.howToSecImgDivRel{
    margin: 1% 1% 5% 1%;
    background-image: url("CSS/IMG/discord-logo-bss.png");
    position: relative;
}
.howToSecImgDivAbs{
    position: absolute;
}
.howToSecButton{
    width: 35%;
    font-size: 20px;
    color: aliceblue;
    background-color: black;
    border-radius: 6px;
    border: none;
}
.howToSecButton:hover{
    background-color: rgb(3, 95, 64);
}
.followUsSec{
    background-color: azure;
}
.followUs{
    text-align: center;
    padding: 10% 5% 5% 5%;
}
.followUsAncorDiv{
    display: flex;
    padding: 10% 30% 5% 30%;
    justify-content: space-between;
}
.followUsAncorFace{
    background-image: ;
}
.followUsAncorlinked{
    width: 70px;

}
.followUsAncorDiscord{
    width: 70px;
}
.endSec{
    background-color: white;
    text-align: center;
}
.endTextDiv{
    text-align: center;
    color: #535353c2;
    padding: 1% 5% 3% 5%;
}